* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
ul li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #8e8a8a;
    font-weight: 500;
	cursor: pointer;
}
.header-section {
	position: fixed;
    transform: translate(0, -155px);
    transition: all .8s ease-in-out;
    position: fixed;
    top: 0;
	background: #ffffff;
	width: 100%;
}
.header-section.fixed,
.header-section.topreached {
	transform: translate(0, 0);
}
.logo {
	display: flex;
    justify-content: center;
	margin: 0 0 20px;
}
.logo img {
	width: 90px;
}
nav ul {
	display: flex;
	justify-content: center;
	margin: 0 0 10px;
}
nav ul li {
	margin: 0 15px;
    font-size: 14px;
}
nav ul li:first-child {
	margin: 0 10px 0 0;
}
nav ul li:last-child {
	margin: 0 0 0 10px;
}
.search-bar {
	display: flex;
    position: relative;
    padding: 0 5px;
}
.search-field {
	width: 100%;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
	font-size: 8px;
    padding: 0 10px;
}
.search-icon {
	background-image: url("./images/search-icon.png");
	position: absolute;
	display: inline-block;
	width: 18px;
    height: 16px;
    background-repeat: no-repeat;
    border: none;
    right: 10px;
    top: 3px;
    background-size: 100%;
}
.product-details {
	padding: 20px 5px 0;
}
.product-name {
	font-size: 18px;
    font-weight: 700;
    color: #000;
    margin: 0 0 5px;
}
.product-id {
	font-size: 16px;
    color: #8f8d8d;
}
.size-swatches,.color-swatches {
	margin: 20px 0 20px;
	color: #ccc;
}
.size-swatches .size {
	margin: 0 5px;
	color: #ccc;
}
.color {
	width: 20px;
    height: 20px;
    display: inline-block;
    background: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 6px 5px 0 0;
	font-size: 0;
}
.color.blue {
	background: #cde1e8;
}
.color.white {
	background: #ffffff;
}
.color.green {
	background: #1e694d;
}
.bar {
	width: 100%;
    height: 40px;
    background: #d2d0d0;
    border-radius: 5px;
	margin: 0 0 20px;
}
.product-container {
	margin: 180px 0 0;
}
.product-descriptions {
	margin: 0 0 25px;
    padding: 0 0 25px;
    border-bottom: 1px solid #ccc;
}
.product-description-head {
	margin: 0 0 10px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-weight: bold;
}
.product-specification {
	display: flex;
    flex-direction: column;
}
.product-description,
.product-specification span {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	color: #888383;
	margin: 0 0 5px;
}
.product-description {
	margin: 0 0 20px;
}
.product-image img {
	width: 100%;
}
.recommandation-section {
	padding: 0 10px;
	font-family: 'Roboto Condensed', sans-serif;
}
.recommended-products {
	display: flex;
	margin: 20px  0 0;
}
.recommandation-product {
	padding: 0 10px;
}
.recommandation-product:first-child {
	padding: 0 10px 0 0;
}
.recommandation-product:last-child {
	padding: 0 0 0 10px;
}
@media screen and (min-width: 768px) {
	.product-container {
		display: flex;
		margin: 180px 0 40px;
	}
	.product-image {
		padding: 0 50px;
		width: 50%;
	}
	.product-details {
		width: 50%;
		padding: 0 50px 0 0;
	}
	.recommandation-section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}